<script type="application/ld+json">
{
  "@context": "https://schema.org/", 
  "@type": "BreadcrumbList", 
  "itemListElement": [{
    "@type": "ListItem", 
    "position": 1, 
    "name": "Home",
    "item": "https://jayaprakash.page/"  
  },{
    "@type": "ListItem", 
    "position": 4, 
    "name": "Quotes",
    "item": "https://jayaprakash.page/favorite-quotes.html"  
  },{
    "@type": "ListItem", 
    "position": 5, 
    "name": "Following",
    "item": "https://jayaprakash.page/list-of-things-i-follow.html"  
  },{
    "@type": "ListItem", 
    "position": 2, 
    "name": "Blog",
    "item": "https://jayaprakash.page/blog/"  
  },{
    "@type": "ListItem", 
    "position": 3, 
    "name": "Projects and Publications",
    "item": "https://jayaprakash.page/projects-and-publications.html"  
  }
]
}
</script>
