<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">

<!-- end custom head snippets -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-17007411030"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-17007411030');
</script>

  <!-- Default Statcounter code for jayaprakash.page https://www.jayaprakash.page/ -->
  <script type="text/javascript">
  var sc_project=12925409; 
  var sc_invisible=0; 
  var sc_security="0d4dc6d0"; 
  var scJsHost = "https://";
  document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+ "statcounter.com/counter/counter.js'></"+"script>");
  </script>
      
  <noscript><div class="statcounter"><center><a title="Web Analytics
  Made Easy - Statcounter" href="https://statcounter.com/"
  target="_blank"><img class="statcounter"
  src="https://c.statcounter.com/12925409/0/0d4dc6d0/0/"
  alt="Web Analytics Made Easy - Statcounter"
  referrerPolicy="no-referrer-when-downgrade"></a></center></div></noscript>
  <!-- End of Statcounter Code -->

<meta name="google-site-verification" content="1g2AJIUiC_XzThRMmjltXw2S6KWJWWPVHwgzvQIrxss" />

  
