<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "dateCreated": "2024-06-23T12:34:00-05:00",
  "dateModified": "2024-07-01T14:53:00-05:00",
  "audience": [
    {
      "@type": "Audience",
      "name": "Entrepreneur"
    },
    {
      "@type": "Audience",
      "name": "Professors"
    },
    {
      "@type": "Audience",
      "name": "Students"
    },
    {
      "@type": "Audience",
      "name": "Engineers"
    },
    {
      "@type": "Audience",
      "name": "Leaders"
    },
    {
      "@type": "Audience",
      "name": "Managers"
    },
    {
      "@type": "Audience",
      "name": "CEOs"
    },
    {
      "@type": "Audience",
      "name": "Researchers"
    }
  ],
  "name": "Jayaprakash Sundararaj",
  "mainEntity": {
    "@type": "Person",
    "identifier": "58235068d5e07a238e8f025540927491",
    "description": "Jayaprakash Sundararaj is an applied researcher and lead engineer at Google in Mountain View, heading a team that focuses on Search Ranking and Recommendations. During his time at Google, Jayaprakash has contributed to Google Search, Android SysUI and Intelligence, and Google Play Store Search and Suggest. He completed his postgraduate studies at IIT Bombay",
    "name": "Jayaprakash Sundararaj",
    "url": "https://jayaprakash.page/index.html",
    "mainEntityOfPage": "https://jayaprakash.page/index.html",
    "sameAs": [
      "https://jayaprakash.page/",
      "https://profiles.stanford.edu/jayaprakash-sundararaj",
      "https://www.cse.iitb.ac.in/~jayaprakash12/",
      "https://twitter.com/osjayaprakash",
      "https://www.wikidata.org/wiki/Q126177840",
      "https://www.linkedin.com/in/osjayaprakash",
      "https://www.youtube.com/channel/UCxnrBqNI4NKzqURO2aqClxA",
      "https://scholar.google.co.in/citations?user=jPdxJqgAAAAJ&hl=en",
      "https://www.facebook.com/jayaprakash.sundararaj",
      "https://www.youtube.com/@jayaprakash.sundararaj",
      "https://adplist.org/mentors/jayaprakash-sundararaj",
      "https://mentorcruise.com/mentor/jayaprakashsundararaj/"
    ],
    "subjectOf": [
      {
        "@type": "Article",
        "name": "Medium.com jayaprakash.sundararaj",
        "url": "https://medium.com/@jayaprakash.sundararaj/about"
      },
      {
        "@type": "Article",
        "name": "techbullion publishing Jayaprakash Sundararaj's work on cold start recommendations.",
        "url": "https://techbullion.com/cold-start-in-recommendations-overcoming-the-initial-hurdle-in-personalization/"
      },
      {
        "@type": "Article",
        "name": "BCS (British Computer Society) featuring Jayaprakash Sundararaj",
        "url": "https://www.bcs.org/membership-and-registrations/our-members/jayaprakash-sundararaj-fbcs/"
      },
        {
        "@type": "Article",
        "name": "On-Device Intelligence: Transforming Mobile Experiences",
        "url": "https://techbullion.com/on-device-intelligence-transforming-mobile-experiences/"
      }
    ],
    "performerIn": [],
    "image": [
        {
        "@type": "ImageObject",
        "url": "https://hcti.io/v1/image/c2df8539-13a4-4ab7-aa9d-5739ff9edf7b",
        "contentUrl": "https://hcti.io/v1/image/c2df8539-13a4-4ab7-aa9d-5739ff9edf7b",
        "caption": "Mentorship by Jayaprakash Sundararaj."
      },
      {
        "@type": "ImageObject",
        "url": "https://www.cse.iitb.ac.in/~jayaprakash12/images/jayaprakash.jpg",
        "contentUrl": "https://www.cse.iitb.ac.in/~jayaprakash12/images/jayaprakash.jpg",
        "caption": "Jayaprakash Sundararaj is at IITB."
      },
      {
        "@type": "ImageObject",
        "url": "https://jayaprakash.page/images/sona-college-best-outgoing-student.jpg",
        "contentUrl": "https://jayaprakash.page/images/sona-college-best-outgoing-student.jpg",
        "caption": "Jayaprakash Sundararaj is receiving Best Outgoing Student Award."
      },
      {
        "@type": "ImageObject",
        "url": "https://jayaprakash.page/images/yahoo-hacku-win.jpg",
        "contentUrl": "https://jayaprakash.page/images/yahoo-hacku-win.jpg",
        "caption": "Jayaprakash Sundararaj with his team on winning HackU Yahoo Hackathon at IIT Bombay."
      },
      {
        "@type": "ImageObject",
        "url": "https://jayaprakash.page/images/yahoo-internship.jpg",
        "contentUrl": "https://jayaprakash.page/images/yahoo-internship.jpg",
        "caption": "Jayaprakash Sundararaj receiving recognizition for Internship work."
      }
    ],
    "alternateName": [
      "Jayaprakash S",
      "osjayaprakash",
      "J Sundararaj"
    ],
    "email": "osjp463@gmail.com",
    "familyName": "Sundararaj",
    "additionalName": "JP",
    "givenName": "Jayaprakash",
    "honorificSuffix": "M.Tech",
    "jobTitle": "Computer Scientist",
    "hasOccupation": {
      "@type": "Occupation",
      "name": "Scientist"
    },
    "gender": "Male",
    "worksFor": [
      {
        "@type": "Corporation",
        "name": "Google Inc",
        "startDate": "2014",
        "endDate": "Present",
        "url": "https://www.google.com",
        "department": {
          "@type": "Organization",
          "name": "Web Search"
        },
        "roleName": "Scientist",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Mountain View",
          "addressRegion": "CA"
        }
      }
    ],
    "alumniOf": [
      {
        "@type": "EducationalOrganization",
        "name": "Indian Institute of Technology, Bombay",
        "startDate": "2012",
        "endDate": "2014",
        "degree": {
          "@type": "EducationalOccupationalCredential",
          "credentialCategory": "M.Tech",
          "educationalLevel": "Master's degree",
          "degreeField": "Computer Science and Engineering"
        },
        "url": "http://www.iitb.ac.in",
        "advisor": {
          "@type": "Person",
          "name": "Pushpak Bhattacharyya"
        },
        "focus": [
          "Artificial intelligence",
          "Machine learning",
          "Natural language processing"
        ]
      },
      {
        "@type": "EducationalOrganization",
        "name": "Anna University, Chennai, India",
        "startDate": "2005",
        "endDate": "2009",
        "url": "https://www.annauniv.edu/"
      }
    ],
    "award": [],
    "memberOf": [
      {
        "@type": "Organization",
        "name": "BCS",
        "memberOf": "Fellow",
        "url": "https://www.bcs.org",
        "startDate": "2024"
      }, {
        "@type": "Organization",
        "name": "IETE",
        "memberOf": "Fellow",
        "url": "https://www.iete.org",
        "startDate": "2024"
      }, {
        "@type": "Organization",
        "name": "IEEE",
        "memberOf": "Senior Member",
        "url": "https://www.ieee.org",
        "startDate": "2024"
      }
    ],
    "birthPlace": {
      "@type": "Place",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Salem",
        "addressRegion": "Tamil Nadu",
        "addressCountry": "India"
      }
    },
    "nationality": {
      "@type": "Country",
      "name": "India"
    },
    "knowsAbout": [
      "Natural Language Processing",
      "Machine Learning",
      "Information Retrieval",
      "C++",
      "Kotlin",
      "Python",
      "TensorFlow",
      "MapReduce",
      "Search retrieval & ranking systems"
    ],
    "disambiguatingDescription": "Jayaprakash Sundararaj: Senior Engineer, Machine Learning Engineer, Researcher, Computer Scientist. Jayaprakash was born in Salem, Tamilnadu, India.",
    "publication": [
      {
        "@type": "ScholarlyArticle",
        "name": "Monotone submodularity in opinion summaries",
        "author": [
          "J Jayanth",
          "J Sundararaj",
          "P Bhattacharyya"
        ],
        "datePublished": "2015",
        "isPartOf": {
          "@type": "PublicationVolume",
          "name": "Proceedings of the 2015 Conference on Empirical Methods in Natural Language Processing"
        }
      },
      {
        "@type": "ScholarlyArticle",
        "name": "Opinion Summarization using Submodular Functions: Subjectivity vs Relevance trade-off",
        "author": [
          "J Sundararaj",
          "J Jayanth",
          "P Bhattacharyya"
        ],
        "datePublished": "2015",
        "isPartOf": {
          "@type": "PublicationVolume",
          "name": "16th International Conference on Intelligent Text Processing and Computational Linguistics"
        }
      },
      {
        "@type": "ScholarlyArticle",
        "name": "Document Summarization with applications to Keyword extraction and Image Retrieval",
        "author": [
          "J Sundararaj",
          "P Bhattacharyya"
        ],
        "datePublished": "2014"
      },
      {
        "@type": "ScholarlyArticle",
        "name": "Technical Report on Inter Annotator Agreement and Kappa Score",
        "author": [
          "J Sundararaj"
        ],
        "datePublished": "2013"
      }
    ]
  }
}
</script>
