---
---

@import "{{ site.theme | default: site.remote_theme }}";  // pulls in the theme CSS

nav a.active {
  font-weight: bold;
  color: #000;
  border-bottom: 2px solid #000;
}

a:hover {
  background-color: yellow;
  font-size: 18px;
}

::-moz-selection { /* Code for Firefox */
  color: red;
  background: yellow;
}

::selection {
  color: red;
  background: yellow;
}

body {
  line-height: 1.75;
}

span.small {
  font-size: smaller;
}

mark {
  background-color: rgb(255, 183, 183);
}