---
layout: default
---

{{content}}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "dateCreated": "2024-06-23T12:34:00-05:00",
  "dateModified": "2024-12-07T14:53:00-05:00",
  "name": "Jayaprakash Sundararaj",
  "mainEntity": {
    "@type": "Person",
    "identifier": "58235068d5e07a238e8f025540927491",
    "description": "Jayaprakash Sundararaj is an applied researcher and lead engineer at Google in Mountain View, heading a team that focuses on Search Ranking and Recommendations. During his time at Google, Jayaprakash has contributed to Google Search, Android SysUI and Intelligence, and Google Play Store Search and Suggest. He completed his postgraduate studies at IIT Bombay",
    "name": "Jayaprakash Sundararaj",
    "url": "https://osjayaprakash.github.io/",
    "mainEntityOfPage": "https://osjayaprakash.github.io/",
    "sameAs": [
      "https://osjayaprakash.github.io/",
      "https://twitter.com/osjayaprakash",
      "https://www.wikidata.org/wiki/Q126177840",
      "https://www.linkedin.com/in/osjayaprakash",
      "https://scholar.google.co.in/citations?user=jPdxJqgAAAAJ&hl=en",
      "https://www.facebook.com/jayaprakash.sundararaj",
      "https://www.youtube.com/@jayaprakash.sundararaj",
      "https://www.cse.iitb.ac.in/~jayaprakash12/"
    ],
    "subjectOf": [
      {
        "@type": "Article",
        "name": "Member Spotlight: Jayaprkash Sundararaj",
        "url": "https://d101tm.org/member-spotlight-jayaprakash-sundararaj/"
      },
      {
        "@type": "Article",
        "name": "Expert Discussion with BCS Fellow and Search Professional of the Year: Mr. Jayaprakash",
        "url": "https://www.techtimes.com/articles/308576/20241203/expert-discussion-bcs-fellow-search-professional-year-mr-jayaprakash.htm"
      },
      {
        "@type": "Article",
        "name": "BCS (British Computer Society) featuring Jayaprakash Sundararaj",
        "url": "https://www.bcs.org/membership-and-registrations/our-members/jayaprakash-sundararaj-fbcs/"
      }
    ],
    "image": [
        {
        "@type": "ImageObject",
        "url": "https://d.techtimes.com/en/full/454621/mr-jayaprakash.webp?w=671&f=051ad53155d50da267747e1beb619ec9",
        "contentUrl": "https://d.techtimes.com/en/full/454621/mr-jayaprakash.webp?w=671&f=051ad53155d50da267747e1beb619ec9",
        "caption": "Mr. Jayaprakash Sundararaj."
      },
        {
        "@type": "ImageObject",
        "url": "https://hcti.io/v1/image/c2df8539-13a4-4ab7-aa9d-5739ff9edf7b",
        "contentUrl": "https://hcti.io/v1/image/c2df8539-13a4-4ab7-aa9d-5739ff9edf7b",
        "caption": "Mentorship by Jayaprakash Sundararaj."
      },
      {
        "@type": "ImageObject",
        "url": "https://osjayaprakash.github.io//images/sona-college-best-outgoing-student.jpg",
        "contentUrl": "https://osjayaprakash.github.io//images/sona-college-best-outgoing-student.jpg",
        "caption": "Jayaprakash Sundararaj is receiving Best Outgoing Student Award."
      },
      {
        "@type": "ImageObject",
        "url": "https://osjayaprakash.github.io//images/yahoo-hacku-win.jpg",
        "contentUrl": "https://osjayaprakash.github.io//images/yahoo-hacku-win.jpg",
        "caption": "Jayaprakash Sundararaj with his team on winning HackU Yahoo Hackathon at IIT Bombay."
      },
      {
        "@type": "ImageObject",
        "url": "https://osjayaprakash.github.io//images/yahoo-internship.jpg",
        "contentUrl": "https://jayaprakash.page/images/yahoo-internship.jpg",
        "caption": "Jayaprakash Sundararaj receiving recognizition for Internship work."
      },
      {
        "@type": "ImageObject",
        "url": "https://d101tm.org/wp-content/uploads/2024/10/unnamed-169x300.png",
        "contentUrl": "https://d101tm.org/wp-content/uploads/2024/10/unnamed-169x300.png",
        "caption": "Toastmasters member spotlight: Jayaprakash Sundararaj"
      },
      {
        "@type": "ImageObject",
        "url": "https://www.cse.iitb.ac.in/~jayaprakash12/images/jayaprakash.jpg",
        "contentUrl": "https://www.cse.iitb.ac.in/~jayaprakash12/images/jayaprakash.jpg",
        "caption": "Jayaprakash Sundararaj is at IIT Bombay."
      }
    ],
    "alternateName": [
      "Jayaprakash S",
      "osjayaprakash",
      "J Sundararaj"
    ],
    "familyName": "Sundararaj",
    "givenName": "Jayaprakash",
    "jobTitle": "Software Engineer",
    "hasOccupation": {
      "@type": "Occupation",
      "name": "Scientist"
    },
    "gender": "Male",
    "worksFor": [
      {
        "@type": "Corporation",
        "name": "Google Inc",
        "startDate": "2014",
        "endDate": "Present",
        "url": "https://www.google.com",
        "department": {
          "@type": "Organization",
          "name": "Web Search"
        },
        "roleName": "Scientist",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Mountain View",
          "addressRegion": "CA"
        }
      }
    ],
    "alumniOf": [
      {
        "@type": "EducationalOrganization",
        "name": "Indian Institute of Technology, Bombay",
        "startDate": "2012",
        "endDate": "2014",
        "degree": {
          "@type": "EducationalOccupationalCredential",
          "credentialCategory": "M.Tech",
          "educationalLevel": "Master's degree",
          "degreeField": "Computer Science and Engineering"
        },
        "url": "http://www.iitb.ac.in",
        "advisor": {
          "@type": "Person",
          "name": "Pushpak Bhattacharyya"
        },
        "focus": [
          "Artificial intelligence",
          "Machine learning",
          "Natural language processing"
        ]
      },
      {
        "@type": "EducationalOrganization",
        "name": "Anna University, Chennai, India",
        "startDate": "2005",
        "endDate": "2009",
        "url": "https://www.annauniv.edu/"
      }
    ],
    "memberOf": [
      {
        "@type": "Organization",
        "name": "BCS",
        "memberOf": "Fellow",
        "url": "https://www.bcs.org",
        "startDate": "2024"
      }
    ],
    "birthPlace": {
      "@type": "Place",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Salem",
        "addressRegion": "Tamil Nadu",
        "addressCountry": "India"
      }
    },
    "nationality": {
      "@type": "Country",
      "name": "India"
    },
    "knowsAbout": [
      "Natural Language Processing",
      "Machine Learning",
      "Information Retrieval",
      "C++",
      "Kotlin",
      "Python",
      "TensorFlow",
      "MapReduce",
      "Search retrieval & ranking systems"
    ]
  }
}
</script>
