---
layout: default
---

{{content}}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "dateCreated": "2024-06-23T12:34:00-05:00",
  "dateModified": "2024-12-07T14:53:00-05:00",
  "name": "Jayaprakash Sundararaj",
  "mainEntity": {
    "@type": "Person",
    "identifier": "58235068d5e07a238e8f025540927491",
    "description": "Jayaprakash Sundararaj is an applied researcher and lead engineer at Google in Mountain View, heading a team that focuses on Search Ranking and Recommendations. During his time at Google, Jayaprakash has contributed to Google Search, Android SysUI and Intelligence, and Google Play Store Search and Suggest. He completed his postgraduate studies at IIT Bombay",
    "name": "Jayaprakash Sundararaj",
    "url": "https://jayaprakash.net/",
    "mainEntityOfPage": "https://jayaprakash.net/",
    "sameAs": [
      "https://osjayaprakash.github.io/",
      "https://jayaprakash.net/",
      "https://jayaprakash.page/",
      "https://www.linkedin.com/in/osjayaprakash",
      "https://scholar.google.co.in/citations?user=jPdxJqgAAAAJ&hl=en",
      "https://www.facebook.com/jayaprakash.sundararaj",
      "https://www.youtube.com/@jayaprakash.sundararaj",
      "https://www.cse.iitb.ac.in/~jayaprakash12/",
      "https://www.quora.com/profile/Jayaprakash-Sundararaj",
      "https://www.crunchbase.com/person/jayaprakash-sundararaj"
    ],
    "subjectOf": [
      {
        "@type": "Article",
        "name": "BCS (British Computer Society) featuring Jayaprakash Sundararaj",
        "url": "https://www.bcs.org/membership-and-registrations/our-members/jayaprakash-sundararaj-fbcs/"
      }
    ],
    "image": [
      {
        "@type": "ImageObject",
        "url": "https://www.cse.iitb.ac.in/~jayaprakash12/images/jayaprakash.jpg",
        "contentUrl": "https://www.cse.iitb.ac.in/~jayaprakash12/images/jayaprakash.jpg",
        "caption": "Jayaprakash Sundararaj is at IIT Bombay."
      }
    ],
    "alternateName": [
      "Jayaprakash S",
      "osjayaprakash",
      "J Sundararaj",
      "Jayaprakash Sundararaj",
    ],
    "familyName": "Sundararaj",
    "givenName": "Jayaprakash",
    "jobTitle": "Software Engineer",
    "hasOccupation": {
      "@type": "Occupation",
      "name": "Software Engineer"
    },
    "gender": "Male",
    "worksFor": [
      {
        "@type": "Corporation",
        "name": "Google Inc",
        "startDate": "2014",
        "endDate": "Present",
        "url": "https://www.google.com",
        "department": {
          "@type": "Organization",
          "name": "Google Search"
        },
        "roleName": "Software Engineer",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Mountain View",
          "addressRegion": "CA"
        }
      }
    ],
    "alumniOf": [
      {
        "@type": "EducationalOrganization",
        "name": "Indian Institute of Technology, Bombay",
        "startDate": "2012",
        "endDate": "2014",
        "degree": {
          "@type": "EducationalOccupationalCredential",
          "credentialCategory": "M.Tech",
          "educationalLevel": "Master's degree",
          "degreeField": "Computer Science and Engineering"
        },
        "url": "http://www.iitb.ac.in",
        "advisor": {
          "@type": "Person",
          "name": "Pushpak Bhattacharyya"
        },
        "focus": [
          "Artificial intelligence",
          "Machine learning",
          "Natural language processing"
        ]
      },
      {
        "@type": "EducationalOrganization",
        "name": "Anna University, Chennai, India",
        "startDate": "2005",
        "endDate": "2009",
        "url": "https://www.annauniv.edu/"
      }
    ],
    "memberOf": [
      {
        "@type": "Organization",
        "name": "BCS",
        "memberOf": "Fellow",
        "url": "https://www.bcs.org",
        "startDate": "2024"
      }
    ],
    "birthPlace": {
      "@type": "Place",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Salem",
        "addressRegion": "Tamil Nadu",
        "addressCountry": "India"
      }
    },
    "nationality": {
      "@type": "Country",
      "name": "India"
    },
    "knowsAbout": [
      "Natural Language Processing",
      "Machine Learning",
      "Information Retrieval",
      "C++",
      "Kotlin",
      "Python",
      "TensorFlow",
      "MapReduce",
      "Search retrieval & ranking systems"
    ]
  }
}
</script>
